<!-- app/views/tasks/index.html.erb -->
<h1>My Task</h1>

<div class="form-check">
      <% @tasks.each do |task| %>
          <% if task.completed %>
            <input class="form-check-input" checked type="checkbox" value="" id="defaultCheck1">
          <% else %>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <% end %>
        <%= link_to task.title, task_psth(params[:id])%>
      <% end %>
  </label>
</div>


<%= link_to "Add more task", edit_task_path, class: "btn btn-dark"%>
